force-app/main/default/flows/Quiz_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Credentials_Email</name>
        <label>Send Credentials Email</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Check_fot_Student_with_Email.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Credentials</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyForCredentials</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Decrease_Index</name>
        <label>Decrease Index</label>
        <locationX>402</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>QuestionINDEX</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SCORE</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalIncorrect</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INCORRECT_answer_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HideLoginForm</name>
        <label>HideLoginForm</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>HideLoginFormm</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>student_Login_Info_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Index</name>
        <label>Increase Index</label>
        <locationX>138</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>QuestionINDEX</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SCORE</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCorrect</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CORRECT_answer_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Total_Attempts</name>
        <label>Set User Total Attempts</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>UserAttempts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Total_Attempts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_has_More_Attempts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A</name>
        <choiceText>{!Loop_Questions.Option_A__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A</stringValue>
        </value>
    </choices>
    <choices>
        <name>B</name>
        <choiceText>{!Loop_Questions.Option_B__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B</stringValue>
        </value>
    </choices>
    <choices>
        <name>C</name>
        <choiceText>{!Loop_Questions.Option_C__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C</stringValue>
        </value>
    </choices>
    <choices>
        <name>D</name>
        <choiceText>{!Loop_Questions.Option_D__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Email</name>
        <label>Check for Email</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Email_NOT_FoundScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email NOT Found</defaultConnectorLabel>
        <rules>
            <name>Email_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_fot_Student_with_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Credentials_Email</targetReference>
            </connector>
            <label>Email Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_User_Answer</name>
        <label>CHECK User Answer</label>
        <locationX>270</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Decrease_Index</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>InCorrect</defaultConnectorLabel>
        <rules>
            <name>Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Questions.Correct__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Index</targetReference>
            </connector>
            <label>Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Student</name>
        <label>Found Student?</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Student_NOT_Found_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Student</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Quiz_Screen</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Login_OR_Registration</name>
        <label>Login OR Registration?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Student</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>REGISTRATION</defaultConnectorLabel>
        <rules>
            <name>LOGIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dont_have_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Student</targetReference>
            </connector>
            <label>LOGIN</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_has_More_Attempts</name>
        <label>User has More Attempts</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>UserAttemptsCompletedMSGscreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserAttempts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Selected_Quiz.Attempt_Count__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Questions</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GenderFromStudentObject</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Student__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetQuizList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quiz__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>IsPassed</name>
        <dataType>Boolean</dataType>
        <expression>({!SCORE} / (5*{!TotalQuestion})*100)&gt;75</expression>
    </formulas>
    <formulas>
        <name>TotalQuestion</name>
        <dataType>Number</dataType>
        <expression>{!QuestionINDEX}-1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalScore</name>
        <dataType>Number</dataType>
        <expression>{!Get_Student.Total_Score__c}+ {!SCORE}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Quiz Program {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Quiz Program</label>
    <loops>
        <name>Loop_Questions</name>
        <label>Loop Questions</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <collectionReference>Get_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>QUESTION_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Student</name>
        <label>New Student</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Found_Student</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthday__c</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Student_Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Password__c</field>
            <value>
                <elementReference>NewPassword</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>Newusername</elementReference>
            </value>
        </inputAssignments>
        <object>Student__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Result</name>
        <label>New Result</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>SHOW_Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Passed__c</field>
            <value>
                <elementReference>IsPassed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quiz__c</field>
            <value>
                <elementReference>QuizList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score__c</field>
            <value>
                <elementReference>SCORE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>Get_Student.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quiz_Resultt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_fot_Student_with_Email</name>
        <label>Check for Student with Email</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Emaill.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Student__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Questions</name>
        <label>Get Questions</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quiz__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuizList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Quiz</name>
        <label>Get Selected Quiz</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Total_Attempts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuizList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quiz__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Student</name>
        <label>Get Student</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Student</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>Password__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Password</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Student__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Student_s_Best_Result</name>
        <label>Get Student&apos;s Best Result</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Student</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Student.Id</elementReference>
            </value>
        </filters>
        <object>Quiz_Resultt__c</object>
        <outputAssignments>
            <assignToReference>BestScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Total_Attempts</name>
        <label>Get Total Attempts</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_User_Total_Attempts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quiz__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuizList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Student__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Student.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quiz_Resultt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Student</name>
        <label>Update Student</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Student.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Best_Score__c</field>
            <value>
                <elementReference>BestScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Score__c</field>
            <value>
                <elementReference>SCORE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Score__c</field>
            <value>
                <elementReference>TotalScore</elementReference>
            </value>
        </inputAssignments>
        <object>Student__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CORRECT_answer_screen</name>
        <label>CORRECT answer screen</label>
        <locationX>138</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Questions</targetReference>
        </connector>
        <fields>
            <name>successMSGforCorrectAnswer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(43, 204, 26); font-size: 20px;&quot;&gt;CORRECT&lt;/strong&gt;&lt;strong&gt;!!!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;You Got 5 Points&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;SCORE: &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(11, 188, 21);&quot;&gt;{!SCORE}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confetti</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_NOT_FoundScreen</name>
        <label>Email NOT FoundScreen</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>HideLoginForm</targetReference>
        </connector>
        <fields>
            <name>EmailNOTFoundErrorMSG</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 25, 25);&quot;&gt;Email address  you provided could not be found in database.There is no any account created with email.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(189, 25, 25);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>GO TO REGISTRATION FORM</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>INCORRECT_answer_screen</name>
        <label>INCORRECT answer screen</label>
        <locationX>402</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Questions</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_successMSGforCorrectAnswer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(198, 12, 41);&quot;&gt;WRONG&lt;/strong&gt;&lt;strong&gt;!!!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;You Got 1 Points&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;SCORE: &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(218, 18, 18);&quot;&gt;{!SCORE}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QUESTION_Screen</name>
        <label>QUESTION Screen</label>
        <locationX>270</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHECK_User_Answer</targetReference>
        </connector>
        <fields>
            <name>QuizName</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(18, 151, 43); font-size: 14px;&quot;&gt;QUİZ || &lt;/strong&gt;&lt;strong&gt;{!Loop_Questions.Quiz__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(162, 19, 160); font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;QUESTION &lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(187, 20, 164);&quot;&gt;{!QuestionINDEX} &lt;/strong&gt;&lt;strong&gt;  :   {!Loop_Questions.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Options</name>
            <choiceReferences>A</choiceReferences>
            <choiceReferences>B</choiceReferences>
            <choiceReferences>C</choiceReferences>
            <choiceReferences>D</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Quiz_Screen</name>
        <label>Select Quiz Screen</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Quiz</targetReference>
        </connector>
        <fields>
            <name>QuizList</name>
            <choiceReferences>GetQuizList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>QuizList</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SHOW_Result</name>
        <label>SHOW Result</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Student_s_Best_Result</targetReference>
        </connector>
        <fields>
            <name>PassedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(16, 162, 96); font-size: 28px;&quot;&gt;CONGURATULATIONS!!!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsPassed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NOTpassesMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 18, 18);&quot;&gt;You could not passed the QUIZ &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(231, 18, 18);&quot;&gt;Try Again..&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsPassed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UserResult</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;SCORE: &lt;/strong&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(235, 26, 198);&quot;&gt;{!SCORE}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(13, 22, 221);&quot;&gt;T&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(13, 22, 221);&quot;&gt;otal Questions: {!TotalQuestion}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(16, 156, 68);&quot;&gt;Total CORRECT : {!TotalCorrect}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(234, 23, 74);&quot;&gt;Total INCORRECT : {!TotalIncorrect}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfettionSuccess</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsPassed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>student_Login_Info_Screen</name>
        <label>student Login Info Screen</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Login_OR_Registration</targetReference>
        </connector>
        <fields>
            <name>LOGIN_Form</name>
            <fieldText>LOGIN Form</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>LOGIN_Form_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Username</name>
                    <dataType>String</dataType>
                    <fieldText>Username</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Password</name>
                    <fieldText>Password</fieldText>
                    <fieldType>PasswordField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dont_have_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>HideLoginFormm</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>REGISTRATION_Form</name>
            <fieldText>REGISTRATION Form</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>REGISTRATION_Form_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Student_Full_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Student Full Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>REGISTRATION_Form_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Newusername</name>
                    <dataType>String</dataType>
                    <fieldText>UserName</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>NewPassword</name>
                    <fieldText>Password</fieldText>
                    <fieldType>PasswordField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Gender</name>
                    <choiceReferences>GenderFromStudentObject</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Dont_have_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>HideLoginFormm</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dont_have_Account</name>
            <dataType>Boolean</dataType>
            <fieldText>Dont have Account?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Student_NOT_Found_screen</name>
        <label>Student NOT Found screen</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_fot_Student_with_Email</targetReference>
        </connector>
        <fields>
            <name>StudentNOTFoundErrorMSG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(198, 23, 22);&quot;&gt;A student with {!Username}  could not be found.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(198, 23, 22);&quot;&gt;Your user name of PASSWORD  might be Wrong.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_me_my_Credentials</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Send_me_my_Credentials</name>
            <dataType>Boolean</dataType>
            <fieldText>Send me my Credentials</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HelpTextforSendEmail</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Enter your Email Address you provided at time of Registration&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_me_my_Credentials</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Emaill</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Emaill</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_me_my_Credentials</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UserAttemptsCompletedMSGscreen</name>
        <label>UserAttemptsCompletedMSGscreen</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Quiz_Screen</targetReference>
        </connector>
        <fields>
            <name>UserCanNotakeQUIZmsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(183, 19, 18);&quot;&gt;you total attempt for this quiz has been exceeded..&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(183, 19, 18);&quot;&gt;TRY another quiz  :((&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>student_Login_Info_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBodyForCredentials</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Dear {!Check_fot_Student_with_Email.Name} ,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(36, 43, 203);&quot;&gt;Username&lt;/strong&gt;&lt;strong&gt;: {!Check_fot_Student_with_Email.Username__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 33, 202);&quot;&gt;Password:&lt;/strong&gt;&lt;strong&gt; {!Check_fot_Student_with_Email.Password__c}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BestScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>HideLoginFormm</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuestionINDEX</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SCORE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrect</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalIncorrect</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserAttempts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
